MiniTorrent.WebPortal/Service References/ServiceReference1/MiniTorrentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MiniTorrentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61345/MiniTorrentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61345/MiniTorrentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61345/MiniTorrentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
      <xsd:import schemaLocation="http://localhost:61345/MiniTorrentService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMiniTorrentService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_SearchFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchFiles" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_SearchFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_LoginFlag_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginFlag" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_LoginFlag_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginFlagResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_LogoutFlag_InputMessage">
    <wsdl:part name="parameters" element="tns:LogoutFlag" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_LogoutFlag_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutFlagResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_GetMyFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyFiles" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_GetMyFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_GetListOfResources_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfResources" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_GetListOfResources_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfResourcesResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_UpdateUserFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserFiles" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_UpdateUserFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_UpdateUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDetails" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_UpdateUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_AddNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUser" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_AddNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_AdminUpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminUpdateUser" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_AdminUpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminUpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_AdminGetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminGetUser" />
  </wsdl:message>
  <wsdl:message name="IMiniTorrentService_AdminGetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminGetUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IMiniTorrentService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniTorrentService/GetData" message="tns:IMiniTorrentService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniTorrentService/GetDataResponse" message="tns:IMiniTorrentService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniTorrentService/Login" message="tns:IMiniTorrentService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniTorrentService/LoginResponse" message="tns:IMiniTorrentService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniTorrentService/SearchFiles" message="tns:IMiniTorrentService_SearchFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniTorrentService/SearchFilesResponse" message="tns:IMiniTorrentService_SearchFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginFlag">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniTorrentService/LoginFlag" message="tns:IMiniTorrentService_LoginFlag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniTorrentService/LoginFlagResponse" message="tns:IMiniTorrentService_LoginFlag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogoutFlag">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniTorrentService/LogoutFlag" message="tns:IMiniTorrentService_LogoutFlag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniTorrentService/LogoutFlagResponse" message="tns:IMiniTorrentService_LogoutFlag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniTorrentService/GetMyFiles" message="tns:IMiniTorrentService_GetMyFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniTorrentService/GetMyFilesResponse" message="tns:IMiniTorrentService_GetMyFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListOfResources">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniTorrentService/GetListOfResources" message="tns:IMiniTorrentService_GetListOfResources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniTorrentService/GetListOfResourcesResponse" message="tns:IMiniTorrentService_GetListOfResources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniTorrentService/UpdateUserFiles" message="tns:IMiniTorrentService_UpdateUserFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniTorrentService/UpdateUserFilesResponse" message="tns:IMiniTorrentService_UpdateUserFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniTorrentService/UpdateUserDetails" message="tns:IMiniTorrentService_UpdateUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniTorrentService/UpdateUserDetailsResponse" message="tns:IMiniTorrentService_UpdateUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniTorrentService/AddNewUser" message="tns:IMiniTorrentService_AddNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniTorrentService/AddNewUserResponse" message="tns:IMiniTorrentService_AddNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniTorrentService/GetUser" message="tns:IMiniTorrentService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniTorrentService/GetUserResponse" message="tns:IMiniTorrentService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminUpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniTorrentService/AdminUpdateUser" message="tns:IMiniTorrentService_AdminUpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniTorrentService/AdminUpdateUserResponse" message="tns:IMiniTorrentService_AdminUpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniTorrentService/DeleteUser" message="tns:IMiniTorrentService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniTorrentService/DeleteUserResponse" message="tns:IMiniTorrentService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminGetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniTorrentService/AdminGetUser" message="tns:IMiniTorrentService_AdminGetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniTorrentService/AdminGetUserResponse" message="tns:IMiniTorrentService_AdminGetUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMiniTorrentService" type="tns:IMiniTorrentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMiniTorrentService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMiniTorrentService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFiles">
      <soap:operation soapAction="http://tempuri.org/IMiniTorrentService/SearchFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginFlag">
      <soap:operation soapAction="http://tempuri.org/IMiniTorrentService/LoginFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutFlag">
      <soap:operation soapAction="http://tempuri.org/IMiniTorrentService/LogoutFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyFiles">
      <soap:operation soapAction="http://tempuri.org/IMiniTorrentService/GetMyFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfResources">
      <soap:operation soapAction="http://tempuri.org/IMiniTorrentService/GetListOfResources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserFiles">
      <soap:operation soapAction="http://tempuri.org/IMiniTorrentService/UpdateUserFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDetails">
      <soap:operation soapAction="http://tempuri.org/IMiniTorrentService/UpdateUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewUser">
      <soap:operation soapAction="http://tempuri.org/IMiniTorrentService/AddNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IMiniTorrentService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminUpdateUser">
      <soap:operation soapAction="http://tempuri.org/IMiniTorrentService/AdminUpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IMiniTorrentService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminGetUser">
      <soap:operation soapAction="http://tempuri.org/IMiniTorrentService/AdminGetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiniTorrentService">
    <wsdl:port name="BasicHttpBinding_IMiniTorrentService" binding="tns:BasicHttpBinding_IMiniTorrentService">
      <soap:address location="http://localhost:61345/MiniTorrentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>